env.fish
feeds.xml
out.json
prompt.md
__pycache__
venv
docker-compose-private.yml
docker-compose.override.yml
rss-morning-*.log
playground/
prefiltered.json
query_embeddings.json
queries.txt
mylog.txtlogs/
articles.json
logs/
mylog.txt

# Configs
configs/*.xml
!configs/*.xml.example
